<% if question_card.errors.any? %>
    <%=	render 'layouts/error', error: "Перед сохранением было обнаружены #{question_card.errors.count} ошибки!" %>
    <% question_card.errors.full_messages.each do |message| %>
        <%=	render 'layouts/error', error: message %>
    <% end %>
<% end %>

<%= form_for(question_card) do |f| %>
  <div class="field">
    <%= f.label 'Название билета' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Название', required: 1 %>
  </div>
    <div class="field">
      <%= f.label 'Предмет' %>
      <%= f.text_field :subject, class: 'form-control', placeholder: 'Предмет' %>
    </div>
  <div class="field">
    <%= f.label 'Описание' %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Описание', maxlength: Rails.configuration.description_limit %>
  </div>

  <div class="field">
    <%= f.label 'Текст билета' %>
    <%= f.text_area :question_card, id: "question_card", rows: 15, cols: 80, required: 1 %>
    <script>
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace( 'question_card' );
    </script>
  </div>

    <br>
  <div class="actions">
    <%= f.submit question_card.persisted? ? 'Изменить' : 'Создать', class: 'btn btn-default'%>
    <%= link_to 'Назад', :back, class: 'btn btn-link' %>
  </div>
<% end %>
