<a href="<%= question_card_path card %>" class="list-group-item list-group-item-action">
  <table class="list-group-item-title"><tr><td>
    <div style="float: right">
      <% unless current_user.nil? %>
          <% if current_user == card.user %>
              <a href="<%= edit_question_card_path(card) %>" type="button" class="btn btn-warning btn-circle btn-xs" data-placement="bottom" data-toggle="tooltip" title="Редактировать">
                <i class="fa fa-edit"></i>
              </a>
              <a href="javascript: document.getElementById('form-destroy_card_<%= card.id %>').submit()" aria-hidden="true"
                 data-toggle="confirmation" data-placement="bottom" title="Вы уверены, что хотите удалить этот билет?">
                <button type="button" class="btn btn-danger btn-circle btn-xs" data-toggle="tooltip"
                        data-placement="bottom" title="Удалить" data-trigger="hover">
                  <i class="fa fa-trash-o"></i>
                </button>
              </a>
          <% else %>
              <a href="<%= question_card_path card %>/add_to_me" class="btn btn-success btn-circle btn-xs"
                 data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
                <i class="fa fa-plus"></i>
              </a>
          <% end %>
          <a href="javascript: openGenerateModal(<%= card.id %>)" class="btn btn-primary btn-circle btn-xs">
            <i class="fa fa-rocket"></i>
          </a>
      <% end %>
    </div>
    <h4 class="list-group-item-heading "><%= card.title %></h4>
    <%= form_tag question_card_path(card), method: 'delete', id: 'form-destroy_card_' + card.id.to_s do end %>
  </td></tr></table>

  <p class="list-group-item-text list-group-item-description"><%= card.description %></p>

  <table width="100%">
    <tr>
      <td><p class="list-group-item-buttom">
        <small><i><b>Предмет:</b> <%= card.subject %></i></small><br>
        <small><i><a target="_blank" href="http://<%= card.user.email %>"><%= card.user.email %></a></i></small>
      </p></td>
      <td width="80px" valign="bottom">
        <span class="pull-right text-muted small"><em><%= card.updated_at.to_formatted_s(:short) %></em></span>
      </td>
    </tr>
  </table>
</a>