<!-- Скрипт для инициализации элементов на странице, имеющих атрибут data-toggle="tooltip" -->
<script>
  // после загрузки страницы
  $(function () {
    // инициализировать все элементы на страницы, имеющих атрибут data-toggle="tooltip", как компоненты tooltip
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<!-- .modal-dialog -->
<div class="modal fade" id="generateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Сгенерировать билеты</h4>
      </div>
      <div class="modal-body">
        <%= form_tag("/generations", method: 'post', id: 'form-generator') do %>
            <%= hidden_field_tag :question_card_id, @question_card.id %>
            <%= label_tag('Количество вариантов') %>
            <%= number_field_tag :number_variants, 1, class: 'form-control' %><br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="form-generator">Сгенерировать</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<h1 class="page-header" >
  <table width="100%"><tr>
    <td>
      <b>Билет:</b> <%= @question_card.title %>
    </td>
    <td width="220px" align="right">
      <% if current_user.id == @question_card.user %>
        <button type="button" class="btn btn-warning btn-circle" data-placement="bottom" data-toggle="tooltip" title="Изменить">
          <i class="fa fa-edit"></i>
        </button>

        <button type="button" class="btn btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" title="Удалить">
          <i class="fa fa-times"></i>
        </button>
      <% end %>

      <!--<button type="button" class="btn btn-info btn-circle btn-outline" data-placement="bottom" data-toggle="tooltip" title="Добавить в группу с задачами">-->
        <!--<i class="fa fa-tasks"></i>-->
      <!--</button>-->
      <% unless current_user.id == @question_card.user %>
        <button type="button" class="btn btn-success btn-circle" data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
          <i class="fa fa-plus"></i>
        </button>
      <% end %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#generateModal">
        Сгенерировать
      </button>
    </td>
  </tr></table>
</h1>

<table width="100%">
  <tr>
    <td>
      <p>
        <strong>Пользователь:</strong>
        <%= @question_card.user %>
      </p>
    </td>
    <td>
      <p style="text-align: right;">
        <%= @question_card.created_at %>
      </p>
    </td>
  </tr>
</table>

<h5>
  <strong>Предмет: </strong>
  <%= @question_card.subject %>
</h5>

<div class="panel panel-default">
  <div class="panel-heading">
    Описание
  </div>
  <div class="panel-body">
    <%= @question_card.description %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Билет
  </div>
  <div class="panel-body">
    <%= raw @question_card.question_card %>
  </div>
</div>

<%= link_to 'Edit', edit_question_card_path(@question_card) %> |
<%= link_to 'Back', question_cards_path %>
