

<h1 class="page-header" >
  <table width="100%"><tr>
    <td>
  <%= @question_card.title %>
    </td>
    <td width="270px" align="right">
      <a href="#" ><button type="button" class="btn btn-success">Добавить к себе</button></a>
      <a href="#" ><button type="button" class="btn btn-primary">Сгенерировать</button></a>
    </td>
  </tr></table>
</h1>

<table width="100%">
  <tr>
    <td>
      <p>
        <strong>User:</strong>
        <%= @question_card.user %>
      </p>
    </td>
    <td>
      <p style="text-align: right;">
        <%= @question_card.created_at %>
      </p>
    </td>
  </tr>
</table>

<h5>
  <strong>Предмет: </strong>
  <%= @question_card.subject %>
</h5>
<div class="panel panel-default">
  <div class="panel-heading">
    Описание
  </div>
  <div class="panel-body">
    <%= @question_card.description %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Билет
  </div>
  <div class="panel-body">
    <%= raw @question_card.question_card %>
  </div>
</div>





<%= link_to 'Edit', edit_question_card_path(@question_card) %> |
<%= link_to 'Back', question_cards_path %>
