<%= form_tag question_card_path(@question_card), method: 'delete', id: 'form-destroy' do end %>

<%= render 'generations/generate_modal' %>

<h1 class="page-header" >
  <table width="100%"><tr>
    <td>
      <b>Билет:</b> <%= @question_card.title %>
    </td>
    <% unless current_user.nil? %>
        <td width="230px" align="right">
          <% if current_user == @question_card.user %>
              <a href="<%= edit_question_card_path(@question_card) %>" type="button" class="btn btn-warning btn-circle"
                 data-placement="bottom" data-toggle="tooltip" title="Изменить">
                <i class="fa fa-edit"></i>
              </a>

              <a href="javascript: document.getElementById('form-destroy').submit()" class="btn btn-danger btn-circle"
                 aria-hidden="true" data-toggle="confirmation" data-placement="bottom"
                 title="Вы уверены, что хотите удалить этот билет?">
                <i class="fa fa-trash-o"></i>
              </a>
          <% end %>

          <!--<button type="button" class="btn btn-info btn-circle btn-outline" data-placement="bottom" data-toggle="tooltip" title="Добавить в группу с задачами">-->
          <!--<i class="fa fa-tasks"></i>-->
          <!--</button>-->
          <% unless current_user == @question_card.user %>
              <a href="<%= question_card_path @question_card %>/add_to_me" class="btn btn-success btn-circle"
                 data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
                <i class="fa fa-plus"></i>
              </a>
          <% end %>
          <button onclick="openGenerateModal(<%= @question_card.id %>)" class="btn btn-primary">
            <i class="fa fa-rocket"></i> Сгенерировать
          </button>
        </td>
    <% end %>
  </tr></table>
</h1>

<table width="100%">
  <tr>
    <td>
      <p>
        <strong>Пользователь:</strong>
        <i><a target="_blank" href="http://<%= @question_card.user.email %>"><%= @question_card.user.email %></a></i>
      </p>
    </td>
    <td>
      <p style="text-align: right;">
        <%= @question_card.created_at.to_formatted_s(:long) %>
      </p>
    </td>
  </tr>
</table>

<h5>
  <strong>Предмет: </strong>
  <%= @question_card.subject %>
</h5>

<div class="panel panel-default">
  <div class="panel-heading">
    Описание
  </div>
  <div class="panel-body">
    <%= @question_card.description %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Билет
  </div>
  <div class="panel-body">
    <%= raw @question_card.question_card %>
  </div>
</div>