<%= form_for(task) do |f| %>
    <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Название задачи' %>
      <%= f.text_field :title, class: 'form-control', placeholder: :title%>
    </div>

    <div class="field">
      <%= f.label 'Предмет' %>
      <%= f.text_field :subject, class: 'form-control', placeholder: :subject %>
    </div>

    <div class="field">
      <%= f.label 'Описание' %>
      <%= f.text_area :description, class: 'form-control', placeholder: :description %>
    </div>

    <div class="field">
      <%= f.label 'Условие задачи' %>
      <%= f.text_area :task, id: "task", rows: 10, cols: 80 %>
      <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'task' );
      </script>
    </div>




    <h4>Переменные
      <button type="button" class="btn btn-success btn-circle" style="margin-left: 20px"><i class="fa fa-plus"></i>
      </button>
    </h4>


    <%= f.fields_for :variables do |v| %>

        <div class="alert alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <div class="row" style="margin-top: 20px">
            <div class="col-md-3">
              <div class="form">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= v.text_field :name, class: 'form-control', placeholder: 'Имя переменной'%>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form">
                <div class="input-group">
                  <span class="input-group-addon">тип</span>
                  <%= v.select :variable_type_id, options_for_select([['Lisbon', 1], ['Madrid', 2]]), class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form">
                <div class="input-group">
                  <span class="input-group-addon">от</span>

                  <table><tr><td>
                    <%= v.text_field :to, class: 'form-control', placeholder: 'Нижняя граница'%>
                  </td><td>
                    <%= v.select(:dimension_to_id, options_for_select([['Lisbon', 1], ['Madrid', 2]]), class: 'form-control') %>
                  </td></tr></table>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form">
                <div class="input-group">
                  <span class="input-group-addon">до</span>
                  <table><tr><td>
                    <%= v.text_field :from, class: 'form-control', placeholder: 'Верхняя граница'%>
                  </td><td>
                    <%= v.select :dimension_from_id, options_for_select([['Lisbon', 1], ['Madrid', 2]]), class: 'form-control'%>
                  </td></tr></table>
                </div>
              </div>
            </div>

          </div>
        </div>

    <% end %>

    <div class="field">
      <%= f.label :answer %>
      <%= f.text_area :answer, id: 'answer', class: 'form-control', rows: 5 %>
      <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'answer' );
      </script>
    </div>

    <br>
    <div class="actions">
      <%= f.submit class: 'btn btn-default'%>
      <%= link_to 'Back', :back %>
    </div>

<% end %>
