<%= form_for(task) do |f| %>
    <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Название задачи' %>
      <%= f.text_field :title, class: 'form-control', placeholder: :title%>
    </div>

    <div class="field">
      <%= f.label 'Предмет' %>
      <%= f.text_field :subject, class: 'form-control', placeholder: :subject %>
    </div>

    <div class="field">
      <%= f.label 'Описание' %>
      <%= f.text_area :description, class: 'form-control', placeholder: :description %>
    </div>

    <div class="field">
      <%= f.label 'Условие задачи' %>
      <%= f.text_area :task, id: "task", rows: 10, cols: 80 %>
      <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'task' );
      </script>
    </div>
    <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <table width="100%"><tr>
          <td>Генерируемые переменные</td>
          <td align="right" width="100px">
            <button type="button" class="btn btn-success btn-xs" onclick="addVariableForm('variable-forms')">
              <i class="fa fa-plus"></i> Добавить переменную
            </button>
          </td>
        </tr></table>
      </div>
      <ul class="list-group" id="variable-forms">
        <%= f.fields_for :variables do |v| %>
            <li class="list-group-item">
              <button type="button" class="close" onclick="removeVariableForm(this.parentElement, 'variable-forms')">×</button>
              <div class="row" style="margin-right: 13px">
                <div class="col-md-4">
                  <div class="form">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <%= v.text_field :name, class: 'form-control', placeholder: 'Имя переменной'%>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form">
                    <div class="input-group">
                      <span class="input-group-addon">от</span>
                      <%= v.text_field :from, class: 'form-control', placeholder: 'Нижняя граница'%>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form">
                    <div class="input-group">
                      <span class="input-group-addon">до</span>
                      <%= v.number_field :to, class: 'form-control', placeholder: 'Верхняя граница'%>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <div class="field">
      <%= f.label 'Решение' %>
      <%= f.text_area :answer, id: 'answer', class: 'form-control', rows: 5 %>
      <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'answer' );
      </script>
    </div>
    <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <table width="100%"><tr>
          <td>Вычисляемые переменные</td>
          <td align="right" width="100px">
            <button type="button" class="btn btn-success btn-xs" onclick="addVariableForm('calculated_variable-forms')">
              <i class="fa fa-plus"></i> Добавить переменную
            </button>
          </td>
        </tr></table>
      </div>
      <ul class="list-group" id="calculated_variable-forms">
        <%= f.fields_for :calculated_variables do |v| %>
            <li class="list-group-item">
              <button type="button" class="close"
                      onclick="removeVariableForm(this.parentElement, 'calculated_variable-forms')">×</button>
              <div class="row" style="margin-right: 13px">
                <div class="col-md-4">
                  <div class="form">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <%= v.text_field :name, class: 'form-control', placeholder: 'Имя переменной'%>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form">
                    <div class="input-group">
                      <span class="input-group-addon"><i>f<sub>x</sub></i></span>
                      <%= v.text_field :formula, class: 'form-control', placeholder: 'Формула: $a + $b / 2'%>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <br>
    <div class="actions">
      <%= f.submit class: 'btn btn-default'%>
      <%= link_to 'Назад', :back %>
    </div>

<% end %>
