
<div class="alert alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-3">
      <div class="form">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= text_field_tag :name, 'Имя переменной', autofocus: true, class: 'form-control', placeholder: 'Email'%>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form">
        <div class="input-group">
          <span class="input-group-addon">тип</span>
          <%= select_tag :type, 'Тип переменной', autofocus: true, class: 'form-control', placeholder: 'Email'%>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form">
        <div class="input-group">
          <span class="input-group-addon">от</span>

          <table><tr><td>
            <%= text_field_tag :to,'Нижняя граница', autofocus: true, class: 'form-control', placeholder: 'Email'%>
          </td><td>
            <%= select_tag :to,'Размерность', autofocus: true, class: 'form-control', placeholder: 'Email'%>
          </td></tr></table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form">
        <div class="input-group">
          <span class="input-group-addon">до</span>
          <table><tr><td>
            <%= text_field_tag :from,'Верхняя граница', autofocus: true, class: 'form-control', placeholder: 'Email'%>
          </td><td>
            <%= select_tag :from,'Размерность', autofocus: true, class: 'form-control', placeholder: 'Email'%>
          </td></tr></table>
        </div>
      </div>
    </div>

  </div>
</div>
