<h1 class="page-header">Задачи</h1>

<%= form_tag("/tasks", method: "get") do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control ui-autocomplete-input", placeholder: "Поиск на сайте" %>
      <span class="input-group-btn">
			  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Найти</button>
      </span>
    </div><br>

    <ul class="nav nav-pills">
      <li><%= submit_tag 'Задачи', class: 'btn btn-primary', formaction: tasks_path %></li>
      <li class="pill-buttons">
        <%= submit_tag 'Билеты', class: 'btn btn-primary btn-outline', formaction: question_cards_path %>
      </li>
      <li><%= submit_tag 'Группы задач', class: 'btn btn-primary btn-outline', formaction: tasks_groups_path %></li>
    </ul>
<% end %>
<br><br>

<%= render 'add_task_to_group' %>
<div class="list-group">
  <% @tasks.each do |task| %>
    <%= render 'list_item', task: task %>
  <% end %>
</div>

<br>

<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>