<p id="notice"><%= notice %></p>

<h1 class="page-header">Задачи</h1>

<div class="list-group">
  <% @tasks.each do |task| %>
      <a href="/tasks/<%= task.id %>" class="list-group-item list-group-item-action">
        <table width="100%"><tr>
          <td><h3 class="list-group-item-heading"><%= task.title %></h3></td>
          <td width="100px" align="right">
            <% if current_user == task.user %>
                <a href="<%= edit_task_path(task) %>" type="button" class="btn btn-warning btn-circle btn-xs" data-placement="bottom" data-toggle="tooltip" title="Редактировать">
                  <i class="fa fa-edit"></i>
                </a>

                <button type="button" class="btn btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" title="Удалить">
                  <i class="fa fa-trash-o"></i>
                </button>
            <% end %>

            <button type="button" class="btn btn-success btn-circle btn-outline" data-toggle="modal" data-target="#addTaskModal"
                    data-placement="bottom" data-toggle="tooltip" title="Добавить в группу с задачами">
              <i class="fa fa-plus-square"></i>
            </button>

            <% unless current_user == task.user %>
                <button type="button" class="btn btn-success btn-circle" data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
                  <i class="fa fa-plus"></i>
                </button>
            <% end %>
          </td>
        </tr></table>
        <span class="pull-right text-muted small"><em><%= task.updated_at.to_formatted_s(:short) %></em></span>

        <p class="list-group-item-text"><%= task.description %></p>
      </a>
  <% end %>
</div>

<br>

<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>