<%= render 'add_task_to_group' %>

<h1 class="page-header" >
  <table width="100%"><tr>
    <td>
      <b>Задача:</b> <%= @task.title %>
    </td>
    <% unless current_user.nil? %>
        <td width="220px" align="right">
          <% if current_user == @task.user %>
              <a href="<%= edit_task_path(@task) %>" type="button" class="btn btn-warning btn-circle"
                 data-placement="bottom" data-toggle="tooltip" title="Редактировать">
                <i class="fa fa-edit"></i>
              </a>

              <button type="button" class="btn btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" title="Удалить">
                <i class="fa fa-trash-o"></i>
              </button>
          <% end %>

          <button type="button" class="btn btn-success btn-circle btn-outline" data-toggle="modal" data-target="#addTaskModal"
                  data-placement="bottom" data-toggle="tooltip" title="Добавить в группу с задачами">
            <i class="fa fa-plus-square"></i>
          </button>

          <% unless current_user == @task.user %>
              <button type="button" class="btn btn-success btn-circle" data-placement="bottom" data-toggle="tooltip"
                      title="Добавить к себе">
                <i class="fa fa-plus"></i>
              </button>
          <% end %>
          <!--<button class="btn btn-primary" data-toggle="modal" data-target="#generateModal">-->
          <!--Сгенерировать-->
          <!--</button>-->
        </td>
    <% end %>
  </tr></table>
</h1>

<table width="100%">
  <tr>
    <td>
      <p>
        <strong>Пользователь:</strong>
        <i><a target="_blank" href="http://<%= @task.user.email %>"><%= @task.user.email %></a> </i>
      </p>
    </td>
    <td>
      <p style="text-align: right;">
        <%= @task.created_at %>
      </p>
    </td>
  </tr>
</table>

<h5>
  <strong>Предмет: </strong>
  <%= @task.subject %>
</h5>

<div class="panel panel-default">
  <div class="panel-heading">
    Описание:
  </div>
  <div class="panel-body">
    <%= @task.description %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Условие задачи:
  </div>
  <div class="panel-body">
    <%= raw @task.task %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    Решение:
  </div>
  <div class="panel-body">
    <%= raw @task.answer %>
  </div>
</div>
