<% if tasks_group.errors.any? %>
    <%=	render 'layouts/error', error: "Перед сохранением было обнаружены #{tasks_group.errors.count} ошибки!" %>
    <% tasks_group.errors.full_messages.each do |message| %>
        <%=	render 'layouts/error', error: message %>
    <% end %>
<% end %>

<%= form_for(tasks_group) do |f| %>
    <div class="field">
      <%= f.label 'Название группы задач' %>
      <%= f.text_field :title, class: 'form-control', placeholder: :title%>
    </div>

    <div class="field">
      <%= f.label 'Предмет' %>
      <%= f.text_field :subject, class: 'form-control', placeholder: :subject %>
    </div>

    <div class="field">
      <%= f.label 'Описание' %>
      <%= f.text_area :description, class: 'form-control', placeholder: :description %>
    </div>
<br>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
