<%= form_for(tasks_group) do |f| %>
  <% if tasks_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tasks_group.errors.count, "error") %> prohibited this tasks_group from being saved:</h2>

      <ul>
      <% tasks_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: :title%>
    </div>

    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control', placeholder: :subject %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', placeholder: :description %>
    </div>
<br>
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
