<a href="<%= tasks_group_path group %>" class="list-group-item list-group-item-action">
  <table class="list-group-item-title"><tr><td>
    <div style="float: right">
      <% unless current_user.nil? %>
          <% if current_user == group.user %>
              <a href="<%= edit_tasks_group_path(group) %>" type="button"
                 class="btn btn-warning btn-circle btn-xs" data-placement="bottom" data-toggle="tooltip"
                 title="Редактировать">
                <i class="fa fa-edit"></i>
              </a>
              <a href="javascript: document.getElementById('form-destroy-tasks_group_<%= group.id %>').submit()"
                 aria-hidden="true" data-toggle="confirmation" data-placement="bottom"
                 title="Вы уверены, что хотите удалить эту группу задач?">
                <button type="button" class="btn btn-danger btn-circle btn-xs" data-toggle="tooltip"
                        data-placement="bottom" title="Удалить" data-trigger="hover">
                  <i class="fa fa-trash-o"></i>
                </button>
              </a>
          <% else %>
              <a href="<%= tasks_group_path group %>/add_to_me" class="btn btn-success btn-circle"
                 data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
                <i class="fa fa-plus"></i>
              </a>
          <% end %>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= group.title %></h4>
    <%= form_tag tasks_group_path(group), method: 'delete', id: 'form-destroy-tasks_group_' + group.id.to_s do end %>
  </td></tr></table>

  <p class="list-group-item-text list-group-item-description"><%= group.description %></p>

  <table width="100%">
    <tr>
      <td><p class="list-group-item-buttom">
        <small><i><b>Предмет:</b> <%= group.subject %></i></small><br>
        <small><i><b>Количество задач:</b> <%= group.tasks.size %></i></small><br>
        <small><i><a target="_blank" href="http://<%= group.user.email %>"><%= group.user.email %></a></i></small>
      </p></td>
      <td width="80px" valign="bottom">
        <span class="pull-right text-muted small"><em><%= group.updated_at.to_formatted_s(:short) %></em></span>
      </td>
    </tr>
  </table>
</a>