<h1 class="page-header" >
  <table width="100%"><tr>
    <td>
      <b>Билет:</b> <%= @tasks_group.title %>
    </td>
    <td width="220px" align="right">
      <% if current_user.id == @tasks_group.user %>
          <button type="button" class="btn btn-warning btn-circle" data-placement="bottom" data-toggle="tooltip" title="Изменить">
            <i class="fa fa-edit"></i>
          </button>

          <button type="button" class="btn btn-danger btn-circle" data-placement="bottom" data-toggle="tooltip" title="Удалить">
            <i class="fa fa-times"></i>
          </button>
      <% end %>

      <!--<button type="button" class="btn btn-info btn-circle btn-outline" data-placement="bottom" data-toggle="tooltip" title="Добавить в группу с задачами">-->
      <!--<i class="fa fa-tasks"></i>-->
      <!--</button>-->
      <% unless current_user.id == @tasks_group.user %>
          <button type="button" class="btn btn-success btn-circle" data-placement="bottom" data-toggle="tooltip" title="Добавить к себе">
            <i class="fa fa-plus"></i>
          </button>
      <% end %>
    </td>
  </tr></table>
</h1>

<table width="100%">
  <tr>
    <td>
      <p>
        <strong>Пользователь:</strong>
        <i><a target="_blank" href="http://<%= @tasks_group.get_user.email %>"><%= @tasks_group.get_user.email %></a> </i>
      </p>
    </td>
    <td>
      <p style="text-align: right;">
          <%= @tasks_group.created_at %>
      </p>
    </td>
  </tr>
</table>

<h5>
  <strong>Предмет: </strong>
  <%= @tasks_group.subject %>
</h5>

<div class="panel panel-default">
  <div class="panel-heading">
    Описание
  </div>
  <div class="panel-body">
    <%= @tasks_group.description %>
  </div>
</div>

<%= link_to 'Edit', edit_tasks_group_path(@tasks_group) %> |
<%= link_to 'Back', tasks_groups_path %>
