<p id="notice"><%= notice %></p>

<h1>Generations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question card</th>
      <th>Page layout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generations.each do |generation| %>
      <tr>
        <td><%= generation.user_id %></td>
        <td><%= generation.question_card_id %></td>
        <td><%= link_to 'Show', generation %></td>
        <td><%= link_to 'Edit', edit_generation_path(generation) %></td>
        <td><%= link_to 'Destroy', generation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generation', new_generation_path %>
