<h1 class="page-header">Главная</h1>

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <table width="100%"><tr>
          <td>Обзор билетов</td>
          <td width="70px" align="right">
            <%= link_to 'Добавить', new_question_card_path, class: 'btn btn-success btn-xs' %>
          </td>
        </tr></table>
      </div>
      <div class="panel-body">
        <% if @question_cards.size == 0 %>
            <p>Вы пока еще не создали ни одного билета. Сделать это вы можете
              <%= link_to 'здесь', new_question_card_path %>
            </p>
        <% else %>
            <%= render 'generations/generate_modal' %>
            <div class="list-group">
              <% @question_cards.each do |card| %>
                  <%= render 'question_cards/list_item', card: card %>
              <% end %>
            </div>
            <%= link_to 'Посмотреть все', tasks_my_path, class: 'btn btn-default btn-block' %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-red">
      <div class="panel-heading">
        <table width="100%"><tr>
          <td>Обзор задач</td>
          <td width="70px" align="right"><%= link_to 'Добавить', new_task_path, class: 'btn btn-success btn-xs' %></td>
        </tr></table>
      </div>
      <div class="panel-body">
        <% if @tasks.size == 0 %>
            <p>Вы пока еще не создали ни одной задачи. Сделать это вы можете <%= link_to 'здесь', new_task_path %></p>
        <% else %>
            <%= render 'tasks/add_task_to_group' %>
            <div class="list-group">
              <% @tasks.each do |task| %>
                  <%= render 'tasks/list_item', task: task %>
              <% end %>
            </div>
            <%= link_to 'Посмотреть все', tasks_my_path, class: 'btn btn-default btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-history fa-fw"></i> История генераций билетов
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <% if @generations.size == 0 %>
            <p>Вы пока еще не генерировали белеты</p>
        <% else %>
            <div class="list-group">
              <% @generations.each do |g| %>
                  <%= render 'generations/list_item', generation: g %>
              <% end %>
            </div>
            <a href="/generations/my" class="btn btn-default btn-block">Посмотреть все</a>
        <% end %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <table width="100%"><tr>
          <td><i class="fa fa-list-alt fa-fw"></i> Обзор групп задач</td>
          <td width="70px" align="right">
            <%= link_to 'Добавить', new_tasks_group_path, class: 'btn btn-success btn-xs' %>
          </td>
        </tr></table>
      </div>
      <div class="panel-body">
        <% if @tasks_groups.size == 0 %>
            <p>Вы пока еще не создали ни одной группы задачи. Сделать это вы можете
              <%= link_to 'здесь', new_tasks_group_path %>
            </p>
        <% else %>
            <div class="list-group">
              <% @tasks_groups.each do |group| %>
                  <%= render 'tasks_groups/list_item', group: group %>
              <% end %>
            </div>
            <%= link_to 'Посмотреть все', tasks_groups_my_path, class: 'btn btn-default btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

</div>