<h1 class="page-header">Главная</h1>

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Обзор билетов
      </div>
      <div class="panel-body">
        <%= render 'list', list: @question_cards, link: 'question_cards', no_items: 'Вы пока еще не создали ни одного белета.' %>
      </div>
    </div>

    <div class="panel panel-red">
      <div class="panel-heading">
        Обзор задач
      </div>
      <div class="panel-body">
        <%= render 'list', list: @tasks, link: 'tasks', no_items: 'Вы пока еще не создали ни одной задачи.' %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> История генераций билетов
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <% if @generations.size == 0 %>
            <p><%= no_items %> Сделать это вы можете <a href="/<%= link %>/new">здесь</a></p>
        <% else %>
            <div class="list-group">
              <% @generations.each do |g| %>
                  <a href="/generations/<%= g.id %>" class="list-group-item list-group-item-action">
                    <span class="pull-right text-muted small"><em><%= g.updated_at.to_formatted_s(:short) %></em></span>
                    <%= g.title %>
                  </a>
              <% end %>
            </div>
            <a href="/generations/my" class="btn btn-default btn-block">Посмотреть все</a>
        <% end %>
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        Обзор групп задач
      </div>
      <div class="panel-body">
        <%= render 'list', list: @tasks_groups, link: 'tasks_groups', no_items: 'Вы пока еще не создали ни одной группы задач.' %>
      </div>
    </div>
  </div>

</div>